<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>


<body>
    <div class="header">
        <div style="float:left; width:50%;">
            <ul style="float: left; padding: 0; padding-left: 20px; margin: 0">
                <li class="hw"><a class="ha" href="/">Главная</a></li>
            </ul>
        </div>

        <div style="float:right; width:50%;">
            <ul style="float: right; padding: 0; padding-right: 20px; margin: 0">
                <li class="hw"><a  class="ha" href="/login">{% if name %}{{name}}{% else %}Вход{% endif %}</a></li>
                <li class="hw"><a  class="ha" href="/registration">{% if surname %}{{surname}}{% else %}Регистрация{% endif %}</a></li>
            </ul>
        </div>
    </div>

    {% block body %}
    {% endblock %}

</body>


</html>