{% extends "base.html" %}


{% block title %}
Home
{% endblock %}


{% block body %}

<div class="intro">
    <div style="float:left; width:25%;">
        <img class='ph' src='../static/image/ensh.jpg' alt="None">
    </div>

    <div style="float:right; width:50%;">
        <p class="t">
            Brain Lock — сайт-сборник логических и математических задач.
            Решайте различные головоломки, развивайте свое мышление и ментальные способности!<br> ↓↓↓
        </p>
    </div>
</div>

<h1>Задачи с автоматической проверкой</h1>
<div>
    <ul>
        {% for i in range(1, 16) %}

                {% if name == "" and i % 2 == 0 %}
                    <div class="task"><li class="bl"><a class="ta" href="#"><abbr style="text-decoration: None" title="Необходимо пройти регистрацию">🔒</abbr></a></li></div>

                {% else %}
                    {% if i in gr %}
                        <div class="task" style="background-color: #00b960"><li class="bl"><a class="ta" href="/task/1/{{i}}">{{i}}</a></li></div>
                    {% elif i in r %}
                        <div class="task" style="background-color: #b90000"><li class="bl"><a class="ta" href="/task/1/{{i}}">{{i}}</a></li></div>
                    {% else %}
                        <div class="task"><li class="bl"><a class="ta" href="/task/1/{{i}}">{{i}}</a></li></div>
                    {% endif %}
                {%endif%}
        {% endfor %}
    </ul>
</div>

<h1>Задачи с самостоятельной проверкой</h1>
<div>
    <ul>
        {% for i in range(1, 6) %}
            <div class="task">
                {% if name=="" and i % 2 == 0 %}
                    <li class="bl"><a class="ta" href="#"><abbr style="text-decoration: None" title="Необходимо пройти регистрацию">🔒</abbr></a></li>
                {% else %}
                    <li class="bl"><a class="ta" href="/task/2/{{i}}">{{i}}</a></li>
                {%endif%}
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}