{% extends "base.html" %}

{% block title %}
Task
{% endblock %}

{% block body %}

<h1 style="margin:50px;">Задание №{{number}}:</h1>

<div style="text-align: center;">

    <p class="qu">{{task}}</p>

    {% if typ == "1" %}

        <p><input id ="ans" class="ot" placeholder="Введите численный ответ"></p>
        <button onclick="CH()" class="btn" style="padding-left: 10px; padding-right: 10px; margin-bottom: 20px;">Проверить</button>
        <p class="an" id ="ans1"></p>

    {% else %}

        <button onclick="CF()" class="btn" style="padding-left: 10px; padding-right: 10px; margin-bottom: 20px;">Узнать ответ</button>
        <p class="an" id="ans2"></p>

    {% endif %}
</div>

<script>
    const xht = new XMLHttpRequest()

    function CH()
    {
        let n = document.getElementById("ans").value
        if ( n == "{{answer}}" ) {
            document.getElementById('ans1').innerHTML = 'Абсолютно правильно!'
            pass_values("g{{number}}")}
        else {
            document.getElementById('ans1').innerHTML = 'Неверно. Попробуйте еще раз)'
            pass_values("b{{number}}")}
    }


    function CF()
    {
        document.getElementById('ans2').innerHTML = "{{answer}}"
    }

   function pass_values(num)
   {
        xht.open("GET", "http://127.0.0.1:5000/pass_val/"+num)
        xht.send()
   }
</script>
{% endblock %}